<h2>Создать проект</h2>
<!--<form action="\projects" method="Post">-->
<!--  <p>Введите название проекта</p>-->
<!--  <p><textarea name="projects[tittle]"></textarea></p>-->
<!--  <p>Введите описание проекта</p>-->
<!--  <p><textarea name="projects[body]"></textarea></p>-->
<!--  <p>Введите id пользователя</p>-->
<!--  <p><input type="number" name="projects[user_id]"></p>-->
<!--  <p>Введите id проекта</p>-->
<!--  <p><input type="number" name="projects[id]"></p>-->
<!--  <p><input type='submit' value="Создать"></p>-->
<!--</form>-->

<%= form_with model: @project do |form| %>
  <p><%= form.text_area :tittle %></p>
  <p><%= form.text_area :body %></p>
  <p><%= form.text_field :id %></p>
  <p><%= form.text_field :user_id %></p>
  <p><%= form.submit %></p>

<% end %>

